.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.timer-box{
  width: 60%;
  height: 250px;
  margin: 100px auto;
  background: rgba(238, 238, 238, 0.774);
  position:relative;
  border-radius: 10px;
  
}

.timer-box img{
  position: absolute;
  border-radius: 10px;
  top:-55px;
  left:-55px;
}
ul{
  list-style: none;
}
ul li{
  float: left;
  width: 21%;
  margin: 0% 0%;
  padding: 85px 1%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: bold;
}

ul li span{
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
}